.favorite-characters {
  position: sticky;
  top: 30px;
}

.btn-remove {
  float: right;
  background: none;
  border: 0;
  appearance: none;
  margin-top: 1em;
  color: red;
  text-decoration: underline;
  font-size: 12px;
}
